body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    background-color: dodgerblue;
    height: 4em;
}
header h2{
    font-style:italic;

}



main{
    text-align: center;
   height: 50em;
   background-color: bisque;
}

main h1{
    padding: 3em;
    font-size: 2.5em;
}



#element{
    display: inline-block;
    height: 2em;
    width: 15em;
    border-radius: 10px;
    margin-bottom: 2em;
    

}

.divIn{
    display: inline-block;
}

button{
    display: inline-block;
   height: 2em;
    border:2px solid;
    border-radius: 10px;
    

}


.newElement{
    list-style-type:disc;
    margin:2em;
    
    
}


footer{
    background-color: dodgerblue; ;
}




